@{
    ViewData["Title"] = "Erişim Engellendi";
}
<br />
<br />
<br />
<br />
<br />

<h1>Erişim Engellendi</h1>

<div class="alert alert-danger">
    <h5>
        Ulaşmak İstediğiniz Sayfaya Erişim Hakkınız Yok!
    </h5>
</div>


