@{
    ViewBag.Title = "İletişim";
}
<main aria-labelledby="title">
    <div class="container">
        <h2 id="title">@ViewBag.Title</h2>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h3>Adres Bilgilerimiz</h3>
                <address>
                    Osmanağa Mah. Söğütlü Çeşme Cd. No:31<br />
                    Kadıköy/İstanbul<br />
                    <abbr title="Phone">Telefon:</abbr> +90 216 606 11 89
                </address>
                <address>
                    <strong>Destek:</strong>
                    <a href="mailto:info@infotechacademy.com.tr">info@infotechacademy.com.tr</a>
                </address>
                <hr />
                <h3>Harita Bilgilerimiz</h3>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.095105412389!2d28.99570407551702!3d41.06691371581312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7913b7b9b3f%3A0x154c9d69c759851e!2zSW5mb3RlY2ggQWNhZGVteSBZYXrEsWzEsW0gS3Vyc3UgKMWeacWfbGkvTWVjaWRpeWVrw7Z5IMWedWJlKQ!5e0!3m2!1sen!2sus!4v1706440031966!5m2!1sen!2sus" width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Bize Mesaj Gönderin</h3>
                @await Html.PartialAsync("_PartialContact")
            </div>
        </div>
    </div>
</main>
<style>
    main {
        padding: 40px 0;
    }

    .map-container {
        overflow: hidden;
        position: relative;
        height: 320px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

        .map-container iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

    address {
        font-style: normal;
    }
</style>
