@using ETicaretProje.ExtensionMethods
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <nav class="navbar navbar-expand-lg custom_nav-container ">

            

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products/Index">
                            Mağaza
                        </a>
                    </li

                <li>  @await Component.InvokeAsync("Categories")  </li>     
                   

                   <li class="nav-item">
    <a class="nav-link" asp-controller="Home" asp-action="Contact">Bize Ulaş</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Home" asp-action="Why">Neden Biz</a>
</li>

                </ul>
                <div class="user_option">
                    <a asp-controller="Account" asp-action="Login">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>
                            Giriş
                        </span>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span>
                            Çıkış
                        </span>
                    </a>
                    <div class="dropdown">
            @{
                Cart cart = Context.Session.GetJson<Cart>("Cart");
                if (cart != null)
                {
                    <a class="nav-link px-2 link-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-cart-fill me-1"></i> Sepet
                        <span class="badge bg-dark text-white ms-1 rounded-pill">@cart.Products.Count</span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in cart.Products)
                        {
                            <li>
                                <a class="dropdown-item" href="/Products/Detail/@item.Product.Id">
                                    <img src="/Images/@item.Product.Image" alt="" width="34" />
                                @item.Product.Name</a>
                            </li>
                        }
                        <li class="text-center">
                            <a class="btn btn-success mt-2" asp-controller="Cart" asp-action="Index">Sepete Git</a>
                        </li>
                    </ul>
                }
                else
                {
                    <a class="btn btn-outline-dark" href="/Cart">
                        <i class="bi-cart-fill me-1"></i>
                        Sepet
                        <span class="badge bg-danger text-white ms-1 rounded-pill">0</span>
                    </a>
                }
            }
        </div>
                    <form class="form-inline ">
                        <button class="btn nav_search-btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>

                     <form asp-controller="Products" asp-action="Search" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input name="q" type="search" class="form-control form-control-dark" placeholder="Ara..." aria-label="Search">
        </form>
                </div>
            </div>
        </nav>
      
    </header>

     
