<section class="info_section layout_padding2-top">
    <div class="social_container">
        <div class="social_box">
            <a href="https://www.facebook.com">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="info_container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h6>Hakkımızda</h6>
                    <p>
                        Mağazamız, kaliteli ürünleri uygun fiyatlarla müşterilerimize sunmaya odaklanmıştır. Kuruluşumuzdan bu yana, müşteri memnuniyetini en üst düzeyde tutmak için çalışıyoruz.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_form">
                        <h5>Bülten</h5>
                        <form action="#">
                            <input type="email" placeholder="E-posta adresinizi girin">
                            <button>Abone Ol</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6>Yardım Alın</h6>
                    <p>
                        Sipariş verme, ürünlerimiz hakkında bilgi alma ve daha fazlası için bize ulaşabilirsiniz.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6>Bizimle İletişime Geçin</h6>
                    <div class="info_link-box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>İstanbul, Türkiye</span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>+90 123 456 78 90</span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>info@orneketicaret.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır 
                
            </p>
        </div>
    </footer>
    <!-- footer section -->
</section>
